table,th,td{
		
		border-collapse:collapse;
		padding:50px;
		
		}
body{
		background-image:url('https://wallpaperaccess.com/full/461236.jpg');
		background-size:cover;
		background-repeat:no-repeat;
		
	}

td:hover{
      	background-image:url('../img/angry.gif');	
		background-size:cover;
	     
	}